body{
    background: linear-gradient(rgba(0, 7, 7, 0.6),rgba(0,0,0,0.1)), url("back1.jpg");
    height: 100vh;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;

}



.wrapper
{
    width: 100%;
    padding-right: 100px;
    margin:auto;
    position: fixed;
    top: 0em;
    z-index: 1;
}
header
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.nav-area
{
    float: right;
    list-style: none;
    margin-top: 40px;
}
.nav-area li{
    display: inline-block;
  }
div.dropdown-menu{
  background-color: rgba(207, 104, 19, 0.733);
}
.nav-area li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 14px;
}
.nav-area li a:hover{
    background: rgba(214, 139, 77, 0.733);
    color: #fff
}
.logo{
  padding: 10px 0px 0px 40px;
}
.logo img{
    width: 100px;
    float: left;
    height: auto;
    border-radius: 5em;
}
.title{
  position: fixed;
  margin-left: 5em;
  margin-top: 0.4em;
  padding-top: 0.7em;
  z-index: 1;
  max-width: 500px;
  color: rgb(255, 218, 56);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
}




#main{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
h2{
    position: fixed;
    z-index: 1;
    max-width: 500px;
    /* color: rgb(255, 218, 56); */
    color: red;
    margin-left: 700px;
    padding-top: 1.5em;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}
h5{
    padding-top: 1em;
    padding-left: 1.8em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    clear: both;
}
.form{
    position: relative;  
    /* box-sizing: border-box; */
    box-shadow: cornsilk;
    left: 400px;
    top:100px;
    width: 800px;
    padding: 0.5em;
    box-shadow: 1px 1px 1px 1px rgb(59, 221, 100);
    background: linear-gradient(rgba(0, 7, 7, 0.3),rgba(0,0,0,0.1)), url("reg.gif");
    background-size: cover;
    border-style: ridge;
    border-radius: 2em;
    border: 2px solid rgb(69, 199, 199);
    font-weight: bold;
  }
  .field{
    margin: 1em;
    /* padding:1em; */
  }
  input,select,textarea{
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    padding: 2px 2px;
    border-radius: 0.5em;
    margin: 8px 0;
    outline: none;
    box-sizing: border-box;
  }
  #crop_select,#cropkind{
    width: 100px;
  }
  #crop1,#crop2,#crop3{
    width: 200px;
  }
  
  /* input:hover,textarea:hover{
    border-color: white;
    background-color:rgba(0,0,0,0.5);
    color: white;
    box-shadow:  1px 1px 1px 1px rgba(230, 247, 209, 0.801);
  } */
  .form:hover{
    border:1px solid yellow;
    box-shadow: 4px 2px 2px 2px rgba(245, 255, 106, 0.801);
  
  }
  #container-1,#container-2{
      float: left;
      padding:0em 2em 0em 5em;
  }

  #container-3> .field{
      float: left;
  }
  #container-4{
      clear: both;
  }
  #container-4 > .field{
      margin-left: 1em;
  }
  #container-3{
      padding-left: 1.2em;
  }
  .container-5{
    float: left;
    padding-left: 1em;
}
#submit{
    background-color: white;
    position: relative;
    top: 3em;
}
#container-5{
      clear: both;
}
#status{
  position: absolute;
  text-align: center;
  padding: 1em;
  bottom: 20;
  right: 50;
  width: 250px;
  border-radius: 1em;
  height: 150px;
  border: #fff;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  clip-path: polygon(22% 25%, 100% 26%, 100% 75%, 22% 76%, 22% 73%, 7% 81%, 22% 59%);
  display: none;
}
.errorr{
  padding: 2.5em;
  background-color: red;
  width: 250px;
  height: 150px;
}
.success{
  padding: 2.5em;
  background-color: greenyellow;
  width: 250px;
  height: 150px;
}
.error {
    height:35px;
    width: 200px;
    padding:1px 5px 0px 5px;
    font-size:small;
}
label.error {
  color: yellow;
  position: absolute;
  left: 100px;
  margin-top: 30px;
  /* background-color: #f2dede; */
  /* border-color: #ebccd1; */
  padding:1px 20px 1px 20px;
  background: none;
}
#dis-select-error,#man_select-error,#place-error,#own-error,#landarea-error{
 left: 450px;
}
#cropkind-error{
  left:300px
}
#crop_select-error{
  left: 570px;
}